OPENAI_API_KEY=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
NEXT_PUBLIC_CHATKIT_WORKFLOW_ID=wf_690342befc00819090346c1c82ad3d620b47ddf27039e67e